<div class="collapse navbar-collapse" id="navmenu">
    <ul class="navbar-nav ms-auto">
      <li class="nav-item">
        <a href="javascript:void(0)" (click)="scrollToElement('#service')" class="nav-link">Service</a>
      </li>
      <li class="nav-item">
        <a href="javascript:void(0)" (click)="scrollToElement('#learn')" class="nav-link">About</a>
      </li>
      <li class="nav-item">
        <a href="javascript:void(0)" (click)="scrollToElement('#faq')" class="nav-link">Questions</a>
      </li>
      <li class="nav-item">
        <a href="javascript:void(0)" (click)="scrollToElement('#instructors')" class="nav-link">Instructors</a>
      </li>
      <li class="nav-item">
        <a href="javascript:void(0)" (click)="scrollToElement('#course')" class="nav-link">Courses</a>
      </li>
      <li class="nav-item">
        <a href="javascript:void(0)" (click)="scrollToElement('#contact')" class="nav-link">Contact</a>
      </li>
    </ul>
    <button type="button" class="btn btn-primary btn-light login" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
      LOGIN
    </button>
  </div>
 